@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Contact emails:</strong>
    <ul>
        <li><a href="mailto:dspalacioc@eafit.edu.co">dspalacioc@eafit.edu.co</a></li>
        <li><a href="mailto:atroyanop@eafit.edu.co">atroyanop@eafit.edu.co</a></li>
        <li><a href="mailto:rfdomingum@eafit.edu.co">rfdomingum@eafit.edu.co</a></li>
        <li><a href="mailto:atroyanop@eafit.edu.co">atroyanop@eafit.edu.co</a></li>
    </ul>
</address>
